/* Varibales */
:root{
    --t1: 20s;
}

/* foundations */
*{
    margin: 0;
    padding:0;
}
main {
    overflow: hidden;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* flying rings */
main > article, main > section{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
article {
    background-color: antiquewhite;
}
section {
    background-color: black;
}
@keyframes ring{
    0%{
        width: 0vw;
        height: 0vw;
    }
    1.5%{
        width:  2vw;
        height: 2vw;
    }
    100%{
        width: 140vw;
        height: 140vw
    }
}
@keyframes middleBit{
    0%{
        width: 0vw;
        height: 0vw;
    }
    1%{
        width:  2vw;
        height: 2vw;
    }
    100%{
        width: 140vw;
        height: 140vw
    }
}